tensorboard<2.11,>=2.10
gunicorn
absl-py>=1.0.0
tensorflow-cpu==2.12.0
astunparse==1.6.3
blinker==1.6.2
cachetools==5.3.1
certifi==2023.7.22
cffi==1.15.1
charset-normalizer==3.2.0
click==8.1.6
colorama==0.4.6
Flask
flatbuffers==23.5.26
gast==0.4.0
gevent
google-auth==2.22.0
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
greenlet==2.0.2
grpcio==1.56.2
h5py
idna
imageio
install
itsdangerous
Jinja2
keras<2.11,>=2.10.0
lazy_loader
libclang
Markdown
MarkupSafe
networkx
numpy
oauthlib
opt-einsum
packaging
Pillow
protobuf<3.20,>=3.9.2
pyasn1
pyasn1-modules
pycparser
PyWavelets
requests
requests-oauthlib
rsa
scikit-image
scipy
six
