Flask==2.2.5
gunicorn
tensorflow-cpu==2.12.0
numpy
Pillow
imageio
scikit-image
scipy
absl-py>=1.0.0
google-auth
google-auth-oauthlib
requests
requests-oauthlib
rsa
protobuf>=4.21.0
keras==2.12.0
tensorboard==2.12.1
h5py
Jinja2
itsdangerous
MarkupSafe
click
Werkzeug
